<a href="https://colab.research.google.com/github/SeongYunHong/mirae-python/blob/main/01_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=a
print(a)
print(b)
print("주소값대입",id(a)),print(id(b))
a=20
print(a)
print(b)
print("주소값대입",id(a)),print(id(b))

10
10
주소값대입 137583045181968
137583045181968
20
10
주소값대입 137583045182288
137583045181968

(None, None)

In [ ]:
#python은 대소문자를 구분

In [ ]:
#입출력, 네트워크 등을 통해서 전송되는 데이터 : 문자
problem=input("수식을 입력하시오")
print(problem)
print(eval(problem)) #eval : 수식연산자도 가능

수식을 입력하시오20
20
20

In [ ]:
print(int("23"))
print(float("23"))
print(eval("23"))
print(eval("23.5"))
x=5
print(eval("23+(2*x)")) #x를 변수로 인식
x=5.0
print(eval("23+(2*x)"))

23
23.0
23
23.5
33
33.0

In [ ]:
a=20
print(a)
type(a) #<class 'int> 데이터 타입도 객체이다
print(type(a))
type(a)
#입출력, 네트워크에서 데이터가 바이트 형태로 송수신
a.to_bytes(4,byteorder="little")

20
<class 'int'>

b'\x14\x00\x00\x00'

In [ ]:
number=20
binary_number=bin(number) #2진수 변환 binary
binary_number=hex(number) #16진수 변환 hex
print(binary_number)

0x14

In [ ]:
print('My name is %s and I am from %s, %i.'%('AI','4차산업혁명',10)) # c#방식
print('My name is {1} and I am from {0}, I like {thing}.'.format('딥러닝','AI',thing='cats')) # c방식

name="홍성윤"
age=25
print(f"이름은 {name} 나이는{age}") #python 방식

My name is AI and I am from 4차산업혁명, 10.
My name is AI and I am from 딥러닝, I like cats.
이름은 홍성윤 나이는25

In [ ]:
number=123.45678
formatted_number=f"{number:.2f}"
print(formatted_number)

123.46

In [ ]:
fullName=input("이름을 입력하시오 : ")
print(type(fullName))
n=fullName.rfind(" ") #reverse find 뒤에서부터 찾음

print(fullName[0])
print(fullName[2])
print(fullName[3])
print(n)
print("이름 : ",fullName[n+1:])
print("성(s) : ",fullName[:n])

이름을 입력하시오 : 이 승희
<class 'str'>
이
승
희
1
이름 :  승희
성(s) :  이

In [ ]:
s='korea'
print(s+s)
print(s*3)
print(s[0:])
print(s[4])
print(s[-1])
print(s[1:3])
print(s[-2:])
print(s[-2:5])
print(s[3:-1])
print(len(s))
s.split('r')

koreakorea
koreakoreakorea
korea
a
a
or
ea
ea
e
5

['ko', 'ea']

split : 쪼개기, join : 결합

In [ ]:
t='Seoul, Incheon, won'.split(',')
print(t)
','.join(t)

['Seoul', ' Incheon', ' won']

'Seoul, Incheon, won'

In [ ]:
s='korea'
print(s.capitalize()) #첫글자를 대문자로
print(s.find('r')) #앞에서 검색
print(s.count('re')) #re가 몇번 나왔는지
print(s.isalpha()) #check 함수 : t/f
print(s.isdigit())
print('0123'.isdigit())
print(s.replace('r',"R"))
print(s.startswith('K')) #K로 시작하는가
print(s.endswith('a')) #a로 끝나는가
s.upper()
s.lower()

Korea
2
1
True
False
True
koRea
False
True

'korea'

In [ ]:
#str 객체, int 객체
ex=str()
print(ex)
type(ex)

str

In [ ]:
f=1.23
g=str(f) #초기화, 캐스팅
h=repr(f) #str보다 repr이 더 정교함
print(g," ",h)

1.23   1.23

In [ ]:
#컴퓨터는 계산기
#연산자 : 산술연산자, 수학연산자(math : 삼각함수, 로그함수, 지수함수)
a=3
b=4

print(a+b,a-b,a*b,a/b)
print(a-b)
print(a*b)
print(a%b)
print(7/4)
print(7//4) #몫 나누기

7 -1 12 0.75
-1
12
3
1.75
1

iterable

In [ ]:
#sum(1,2,3) #안되는 이유 : 기본 자료구조가 list여서
print("sum([1,2,3]) : ",sum([1,2,3]))
print("min([1,2,3]) : ",min([1,2,3]))
print("abs(-11) : ",abs(-11))
print("pow(2,10) : ",pow(2,10))
print("round(3.141592) : ",round(3.141592))
print("round(3.141592) : ",round(3.141592,2))

sum([1,2,3]) :  6
min([1,2,3]) :  1
abs(-11) :  11
pow(2,10) :  1024
round(3.141592) :  3
round(3.141592) :  3.14

list 처리

In [ ]:
li=[4,7,8]
lj=[5,6,7]
print(li+lj) #결합(덧셈x)
print(sum(li))
li*3

[4, 7, 8, 5, 6, 7]
19

[4, 7, 8, 4, 7, 8, 4, 7, 8]

In [ ]:
num1=input("정수를 입력하시오 : ") #입출력 데이터는 문자열
num2=input("정수를 입력하시오 : ")
hab=int(num1)+int(num2)
quotient=hab//2
remainder=hab%2
print("입력된 수를 2로 나눈 결과 몫 = ",quotient, "나머지 : ",remainder)
if remainder==0:
  print("짝수입니다.")
else :
  print("홀수입니다.")

정수를 입력하시오 : 12
정수를 입력하시오 : 12
입력된 수를 2로 나눈 결과 몫 =  12 나머지 :  0
짝수입니다.

자바에서는 전역변수는 없고 변수를 지정하려면 class를 써야하지만
파이썬은 객체지향언어이면서도 전역변수가 존재

In [ ]:
x=300 #전역변수
def myfunc():
  x=200 #지역변수 #전역변수보다 지역변수가 우선
  print(x)
myfunc()
print(x)

200
300

In [ ]:
#문제
#어떤 정수를 입력받아 0:가위, 2: 바위, 3: 보를 출력하는 프로그램 작성
num=int(input("가위 바위 보 !! (0: 가위, 1: 바위, 2: 보) : "))%3
if   num==0 : print("가위")
elif num==1 : print("바위")
elif num==2 : print("보")

가위 바위 보 !! (0:가위, 1: 바위, 2: 보) : 1
바위

In [ ]:
a=20
b=10
print(a>b)
c=a>10 and b<50
print(c)
c=10<a<50
print(c)

True
True
True

In [ ]:
#문제
#swapping하시오
x=5
y=6

x,y=y,x #파이썬에서는 multireturn 가능(함수도 동일) = 리턴을 여러개 쓸 수 있음
print(x,y)
t=y,x
print(t)
print(type(t)) #<class 'tuple'> list와 tuple 차이점 : 리턴할때는 순서가 있고 수정 불가능(tuple)

6 5
(5, 6)
<class 'tuple'>

In [ ]:
a=[1,2,3,4,5]
b=a[0:2] #인덱싱의 마지막은 제외 0부터 1까지임
print(b)
print(type(b))

[1, 2]
<class 'list'>

캐스팅 : 암묵적 캐스팅(자바에서만 가능), 명시적 캐스팅

In [ ]:
#변수는 어떤 데이터 타입이던지 다 담을 수 있음
#모든 데이터 타입간에 연산이 가능한건 아님(캐스팅해서 맞춰줘야함)
a=[1,2,3]
b=str(a[2])+"hi"
print(b)

3hi

R의 vector/matrix는 동질적 <-> python의 list는 이질적

list에 주소만 저장됨

In [ ]:
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [ ]:
a=[1,2,['a','b',['Life','is']]]
print(a[0])
print(a[2][2][0])

1
Life

In [ ]:
a=[1,2,3]
a[2]=4
print(a)
a[1:2]=['a','b','c'] #범위로 주면 list가 풀려서 들어감
print(a)
a[2]=['하나','둘','셋'] #값으로 주면 list가 유지됨
a

[1, 2, 4]
[1, 'a', 'b', 'c', 4]

[1, 'a', ['하나', '둘', '셋'], 'c', 4]

python에는 for in문만 존재
range(1,6,1) 1부터 5까지 1씩 존재

In [ ]:
a=[1,2,3,4,5]
b=range(1,6,1)
print(b) #range값이 아니라 객체 자체가 출력됨
print([b]) #
print(list(b)) #list로 캐스팅해줘야 올바르게 출력

range(1, 6)
[range(1, 6)]
[1, 2, 3, 4, 5]

In [ ]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
print(mat)
mat=[[0]*4]*3
mat[0][0]=100
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[100, 0, 0, 0], [100, 0, 0, 0], [100, 0, 0, 0]]

검색

In [ ]:
streaming = ['netflix','hula','disney+','appletv+']
index = streaming.index('disney+')
print(index)
streaming[2]

2

'disney+'

삭제(remove, del(객체 메모리 해제)

 remove, del : 데이터 지우기 / pop : 데이터를 가지고 오면서 삭제

In [ ]:
if 'disney+' in streaming:
  streaming.remove('disney+')
print(streaming)
if streaming: #파이썬에서는 전부가 객체이기때문에 new를 사용하지 않음
  del(streaming[0]) #모두가 포인터
print(streaming)

['netflix', 'hulu', 'appletv+']
['hulu', 'appletv+']

append(추가), pop(제거)

In [ ]:
print(streaming[0])
streaming.append("tving")
streaming.pop(0)
print(streaming)

hulu
['appletv+', 'tving']

In [ ]:
#문제

In [ ]:
#다음 데이터에서 hula를 검색해 인덱스를 출력하시오
streaming = ['netflix','hula','disney+','appletv+']
streaming.index('hula')
streaming[streaming.index('hula')]

'hula'

In [ ]:
#다음 데이터에 다람쥐를 추가하시오(C)
streaming.append("다람쥐")
streaming

['netflix', 'hula', 'disney+', 'appletv+', '다람쥐']

In [ ]:
#다음 데이터의 인덱스 1~3까지를 출력하시오(R)
streaming[1:4]

['hula', 'disney+', 'appletv+']

In [ ]:
#다음 데이터의 disney+를 찾아서 disney land로 변경하시오(U)
streaming[streaming.index("disney+")]="disney land"
streaming

['netflix', 'hula', 'disney land', 'appletv+', '다람쥐']

In [ ]:
#다음 데이터의 앞에서 첫번째 데이터를 삭제하시오(D)
streaming.pop(0)
#del(streaming[0])
streaming

['hula', 'disney land', 'appletv+', '다람쥐']

In [ ]:
#다음 데이터의 hula를 삭제하시오(D)
streaming.pop(streaming.index('hula'))
streaming

['disney land', 'appletv+', '다람쥐']

extend vs append

묶인게 풀어져서 들어감(extend)

묶인 채로 들어감(append)

In [ ]:
cities=['seoul','incheon','suwon']
print(cities)
cities.extend(['jeju','kwangju']) #풀어져서 입력
print(cities)

['seoul', 'incheon', 'suwon']
['seoul', 'incheon', 'suwon', 'jeju', 'kwangju']

In [ ]:
print(cities.index('seoul'))
print('daegu' in cities) #in : 포함연산자
cities.insert(0,'daegu') #0번 index에 대구 삽입
cities.append(['daegu','ulsan']) #대괄호 유지
print(cities)

0
False
['daegu', 'seoul', 'incheon', 'suwon', 'jeju', 'kwangju', ['daegu', 'ulsan']]

In [ ]:
#2차원 리스트에 학생 3명의 이름과 국어점수 입력 ex)[["대한",40],["민국",100],["만세",0]]
school=[]
school.append(["대한",40])
school.append(["민국",100])
school.append(["만세",0])
school

[['대한', 40], ['민국', 100], ['만세', 0]]

In [ ]:
print(cities[0])
print(cities[6][0])
cities.remove(cities[6])
print(cities)

daegu
daegu
['daegu', 'seoul', 'incheon', 'suwon', 'jeju', 'kwangju']