<a href="https://colab.research.google.com/github/SeongYunHong/mirae-python/blob/main/02_control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if문에서 false인 경우
*   0
*   ''
*   []
*   {}
*   ()
*   false

for문에서 in 뒤에 올 수 있는 경우
*   Collections
*   range
*   interator
*   enumerator : 인덱스+데이터
*   zip : 여러개의 리스트
*   generator : 데이터 생성

In [ ]:
score=70
if score>=80:
  print("80이상")
else:
  print('80이하')

80이하

In [ ]:
city=''
if not city:
  print('빈문자열')

빈문자열

In [ ]:
x=5
ans='양수' if x>=0 else '음수'
print(ans)

양수

In [ ]:
names=['대한','민국','만세']
for name in names: #Collections(list, tuple, dict, set)
  print(name)

대한
민국
만세

In [ ]:
enumerate(names)

In [ ]:
list(enumerate(names))

[(0, '대한'), (1, '민국'), (2, '만세')]

In [ ]:
for name in enumerate(names):
  print(name)

(0, '대한')
(1, '민국')
(2, '만세')

In [ ]:
for num, name in enumerate(names):
  print(num,name)

0 대한
1 민국
2 만세

list 명령어

*   insert
*   remove
*   pop 등등
*  del은 일반 명령어-주소만 없앰, 데이터에서는 가비지 콜렉션을 없앰

In [ ]:
names=["대한","민국","만세","성공"]
data=[1,3,6,1]
zip(names,data)
monarchs=list(zip(names,data))

[('대한', 1), ('민국', 3), ('만세', 6), ('성공', 1)]

In [ ]:
monarchs=[("대한",1),("민국",3),("만세",6),("성공",1)]
monarchs.sort()
print(monarchs)

[('대한', 1), ('만세', 6), ('민국', 3), ('성공', 1)]

In [ ]:
#lambda 함수는 무명함수(일회용 함수)
#파이썬의 함수도 객체이다, 클래스도 함수가 될 수 있
select=lambda row : row[1]
monarchs.sort(key=select)
print(monarchs)

[('대한', 1), ('성공', 1), ('민국', 3), ('만세', 6)]

In [ ]:
monarchs.sort(key=lambda row : row[1], reverse=True)
print(monarchs)

In [ ]:
#monarchs[0][0]="대한민국" #투퓰은 수정 불가능

In [ ]:
school=[]
name=input("이름을 입력하시오 : ")
kor=eval(input("국어점수를 입력하시오 : "))
school.append([name,kor])

name=input("이름을 입력하시오 : ")
kor=eval(input("국어점수를 입력하시오 : "))
school.append([name,kor])

name=input("이름을 입력하시오 : ")
kor=eval(input("국어점수를 입력하시오 : "))
school.append([name,kor])

이름을 입력하시오 : a
국어점수를 입력하시오 : 50
이름을 입력하시오 : ax
국어점수를 입력하시오 : 80
이름을 입력하시오 : z
국어점수를 입력하시오 : 70
[['a', 50], ['z', 70], ['ax', 80]]

In [ ]:
school.sort(key=lambda row : row[1],revers=True)
print(school)

In [ ]:
schools=[]
for i in range(3):
  name=input("이름을 입력하시오 : ")
  kor=eval(input("국어점수를 입력하시오 : "))
  pair=[]
  pair.append(name)
  pair.append(kor)
  schools.append(pair)
schools.sort(key=lambda row : row[1],revers=True)
print(schools)

In [ ]:
#문제
#010-123-4567에서 010만 추출하시오
tel='010-123-4567'
tel.split('-')[0]

'010'

In [ ]:
number=0
if number>0:
  print("Positive number")
elif number==0:
  print('Zero')
else:
  print('Negative number')

Zero

In [ ]:
#문제
#수입(income)과 지출(costs)를 입력받아서 순수입을 출력하는 프로그램
#손익분기점, 순수입, 순손실

income=int(input("수입을 입력하시오 : "))
costs=int(input("지출을 입력하시오 : "))

if(income>costs):
  #result='순수익={0:.2f}'.format(income-costs)
  print("순수익 : ",(income-costs))

elif(income<costs):
  #result='순손실={0:.2f}'.format(costs-income)
  print("순손실 : ",(costs-income))

else : print("손익분기점")
#print(result)

수입을 입력하시오 : 100
지출을 입력하시오 : 30
순수익 :  70

In [ ]:
#문제
#color와 mode를 입력받아서 날씨 예측 프로그램
color=input("색을 입력하시오 (BLUE, RED) : ").upper()
mode=input("모드를 입력하시오 (STEADY, FLASHING): ").upper()

if color=="BLUE" and mode=="STEADY":
  print("화창")
elif color=="BLUE" and mode=="FLASHING":
  print("구름")
elif color=="RED" and mode=="STEADY":
  print("비오는날")
elif color=="RED" and mode=="FLASHING":
  print("눈오는날")
else : print("잘못입력하셨습니다.")

색을 입력하시오 (BLUE, RED) : red
모드를 입력하시오 (STEADY, FLASHING): steady
비오는날

In [ ]:
#문제
#점수를 입력받아서 a,b,c,d,f 출력

jumsu=int(input("점수를 입력하시오 : "))

if jumsu>=90 and jumsu<=100:
  grade='A'
elif jumsu>=80 and jumsu<90:
  grade='B'
elif jumsu>=70 and jumsu<80:
  grade='C'
elif jumsu>=60 and jumsu<70:
  grade='D'
else:
  grade='F'
print("학점 : ",grade)

점수를 입력하시오 : 23
학점 :  F

In [ ]:
#문제
#1개의 과일가격 100.50원에 세금 12.5%를 붙여서 팔았다.
#세금과 매출액을 출력(소수점 둘째자리까지)
tax_rate=0.125
price=100.50
tax_per_one = price*tax_rate
sales_price=price*(1+tax_rate)
print("매출액 : {}, 세금 : {}".format(round(sales_price,2),round(tax_per_one,2)))

매출액 : 113.06, 세금 : 12.56

In [ ]:
n=int(input("판매 개수 입력 : "))
tax_rate=0.125
price=100.50
tax_per_one = price*tax_rate
sales_price=price*(1+tax_rate)
print("매출액 : {}, 세금 : {}".format(round(sales_price*n,2),round(tax_per_one*n,2)))

판매 개수 입력 : 3
매출액 : 339.19, 세금 : 37.69

In [ ]:
#문제
#평수=제곱미터/3.305
#제곱미터로 입력되는 아파트 면적을 평수로 계산하고 종류를 판정하시오(17<=소형, 17<중형<30,30<=대형)

area=int(input("크기를 입력하시오 (제곱미터) : "))
c=3.305
p=area/c

if p<=17:
  result="소형"
elif p>17 and p<30:
  result="중형"
elif p>30:
  result="대형"
print("집의 먼젹은",area,"이고 크기는 ",result,"입니다.")

In [ ]:
#문제
#놀이공원 매표소 단체 입장료 계산
#팀별 인원 구성을 입력(초등,청소년,일반,경로대상)
#초등 : 5000/ 청소년 : 10000/ 일반 : 15000, 경로대상 : 3000
#팀별 할인카드 : 없음, 일반(10%), vip(20%)
peo=[0,0,0,0]
cho=5000
chung=10000
il=15000
gy=3000
il_discount=0.9
vip_discount=0.8

peo[0]=int(input("초등학생 수를 입력하시오 : "))
peo[1]=int(input("청소년 수를 입력하시오 : "))
peo[2]=int(input("일반인 수를 입력하시오 : "))
peo[3]=int(input("경로대상 수를 입력하시오 : "))

card=input("할인카드를 입력하시오 : ")
if card=="없음":
  result=(peo[0]*cho)+(peo[1]*chung)+(peo[2]*il)+(peo[3]*gy)
elif card=="일반":
  result=((peo[0]*cho)+(peo[1]*chung)+(peo[2]*il)+(peo[3]*gy))*il_discount
elif card=="vip":
  result=((peo[0]*cho)+(peo[1]*chung)+(peo[2]*il)+(peo[3]*gy))*vip_discount
print("총 가격은 ",result,"원입니다.")

초등학생 수를 입력하시오 : 1
청소년 수를 입력하시오 : 1
일반인 수를 입력하시오 : 1
경로대상 수를 입력하시오 : 1
할인카드를 입력하시오 : 없음
총 가격은  33000 원입니다.

In [ ]:
#문제
#놀이공원 매표소 단체 입장료 계산
#팀별 인원 구성을 입력(초등,청소년,일반,경로대상)
#초등 : 5000/ 청소년 : 10000/ 일반 : 15000, 경로대상 : 3000
#팀별 할인카드 : 없음, 일반(10%), vip(20%)
peo=[0,0,0,0,0]
cho=5000
chung=10000
il=15000
gy=3000
il_discount=0.9
vip_discount=0.8

peo[0]=int(input("초등학생 수를 입력하시오 : "))
peo[1]=int(input("청소년 수를 입력하시오 : "))
peo[2]=int(input("일반인 수를 입력하시오 : "))
peo[3]=int(input("경로대상 수를 입력하시오 : "))

peo[4]=int(input("할인카드를 입력하시오 (없음 : 0, 일반 : 1, vip : 2) : "))
result=((peo[0]*cho)+(peo[1]*chung)+(peo[2]*il)+(peo[3]*gy))*(1-(0.1*peo[4]))
print("총 가격은 ",result,"원입니다.")

In [ ]:
year=int(input("연봉을 입력하시오 : "))
tax=0.0
if year<=14000000:
  tax=year*0.06
elif year<50000000:
  tax=14000000*0.06+(year-14000000)*0.15
elif year<88000000:
  tax=14000000*0.06+(50000000-14000000)*0.15+(year-50000000)*0.24
elif year<150000000:
  tax=14000000*0.06+(50000000-14000000)*0.15+(88000000-50000000)*0.24+(year-88000000)*0.35

In [ ]:
year=int(input("연봉을 입력하시오 : "))
tax=0.0
income_interval=[14000000,50000000,88000000,150000000,300000000,500000000,1000000000]
income_level=[0,14000000,50000000,88000000,150000000,300000000,500000000,1000000000]
basic_tax=[0,840000,6240000,15360000,37060000,94060000,174060000,384060000]
tax_rate=[0.06,0.15,0.24,0.35,0.38,0.4,0.42,0.45]

for i in range(8):
  if i==0:
    if year<income_interval[0]:
      tax=basic_tax[0]+(year-income_level[0])*tax_rate[0]
  elif income_interval[i-1]<year<income_interval[i]:
    tax=basic_tax[i]+(year-income_level[i])*tax_rate[i]
print("연봉 ",year,"원에 대한 세금은 ",tax,"원입니다.")

연봉을 입력하시오 : 13000000
13000000.0

In [ ]:
year=int(input("연봉을 입력하시오 : "))
tax=0.0
income_interval=[14000000,50000000,88000000,150000000,300000000,500000000,1000000000]
tax_rate=[0.06,0.15,0.24,0.35,0.38,0.4,0.42,0.45]
subtract_money=[0,1260000,5760000,15440000,19940000,25940000,35940000,65940000]

if year<income_interval[0]:
  tax=year*tax_rate[0]-subtract_money[0]

for i in range(8):
  if i==0:
    if year<income_interval[i]:
      tax=year*tax_rate[i]-subtract_money[i]
  elif income_interval[i-1]<year<income_interval[i]:
    tax=year*tax_rate[i]-subtract_money[i]
print("연봉 ",year,"원에 대한 세금은 ",tax,"원입니다.")

In [ ]:
elements=["earth","air","fire","water"]
for i in elements:
  print(i,end=" ")

earth air fire water

In [ ]:
elements=["earth","air","fire","water"]
for i in range(len(elements)):
  print(elements[i], end=" ")

earth air fire water

In [ ]:
cart=[10,20,500,700,50,60]
for item in cart:
  if item>=500:
    continue
  print(item,end=" ")

10 20 50 60

In [ ]:
items=[1,5,7,9,11,15]
target=9
for item in items:
  if item==target:
    print(f"원하는 값 검색:{item}")
    break
  print(f"현재 확인값{item}")

현재 확인값1
현재 확인값5
현재 확인값7
원하는 값 검색:9

range(start,stop,step)

range(start,stop) step=1

range(stop) start=0, step=1

In [ ]:
print(list(range(10)))
#print(list(range(10,2)))
print(list(range(1,10)))
print(list(range(1,10,2)))
print(list(range(10,1,-1)))
#print(list(range(1,11,-1)))
print(list(reversed(range(10)))) #거꾸로

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
ra=range(4)
ra=iter(ra)
next(ra)
next(ra)
next(ra)
next(ra)
#next(ra) #범위 초과

3

In [ ]:
#예외처리가 있는 이유 : 프로그램은 항상 정상 작동해야한다.
ra=range(4)
ra=iter(ra)
print(ra)
res=None #None : 데이터가 없음을 명시적으로 지정
while True:
  try:
    res=next(ra)
    print(res)
  except StopIteration:
    break

<range_iterator object at 0x797ae363f2a0>
0
1
2
3

In [ ]:
print(sorted([7,1,2,6,0,3,2]))

[0, 1, 2, 2, 3, 6, 7]

In [ ]:
my_list=['bobby','hadz','com']
while my_list:
  my_list.pop() #뒤에서 제거, 데이터를 인덱싱하고 제거(remove 리스트 밑에, del 일반함수 : 주소값만 없앰)
  print(my_list)

['bobby', 'hadz']
['bobby']
[]

In [ ]:
for x in range(2,10):
  for y in range(2,10):
    print(x,'x',y,'=',x*y,end="   ")
  print()

2 x 2 = 4   2 x 3 = 6   2 x 4 = 8   2 x 5 = 10   2 x 6 = 12   2 x 7 = 14   2 x 8 = 16   2 x 9 = 18
3 x 2 = 6   3 x 3 = 9   3 x 4 = 12   3 x 5 = 15   3 x 6 = 18   3 x 7 = 21   3 x 8 = 24   3 x 9 = 27
4 x 2 = 8   4 x 3 = 12   4 x 4 = 16   4 x 5 = 20   4 x 6 = 24   4 x 7 = 28   4 x 8 = 32   4 x 9 = 36
5 x 2 = 10   5 x 3 = 15   5 x 4 = 20   5 x 5 = 25   5 x 6 = 30   5 x 7 = 35   5 x 8 = 40   5 x 9 = 45
6 x 2 = 12   6 x 3 = 18   6 x 4 = 24   6 x 5 = 30   6 x 6 = 36   6 x 7 = 42   6 x 8 = 48   6 x 9 = 54
7 x 2 = 14   7 x 3 = 21   7 x 4 = 28   7 x 5 = 35   7 x 6 = 42   7 x 7 = 49   7 x 8 = 56   7 x 9 = 63
8 x 2 = 16   8 x 3 = 24   8 x 4 = 32   8 x 5 = 40   8 x 6 = 48   8 x 7 = 56   8 x 8 = 64   8 x 9 = 72
9 x 2 = 18   9 x 3 = 27   9 x 4 = 36   9 x 5 = 45   9 x 6 = 54   9 x 7 = 63   9 x 8 = 72   9 x 9 = 81

In [ ]:
for x in range(2,10):
  for y in range(2,10):
    print(x,'x',y,'=',x*y)
  print()

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
#문제
#두 수를 입력받아서 숫자이면 합계를 출력하고
#숫자가 아닌 경우가 있는지 확인하시오

a=input("수를 입력하시오 : ")
b=input("수를 입력하시오 : ")

if a.isdigit() and b.isdigit() == True:
  result=int(a)+int(b)
elif a.isdigit() and b.isalpha() == True:
  result=b+"는 문자입니다."
elif a.isalpha() and b.isdigit() == True:
  result=a+"는 문자입니다."
else :
  result="모두 숫자가 아닌것이 입력되었습니다."
print(result)

수를 입력하시오 : 2
수를 입력하시오 : 1
3

In [ ]:
#문제
#3명의 (이름, 국어, 영어, 수학점수를 입력받아서 2차원 list에 입력하고 합계와 평균을 구하여 출력하시오)
st=[]
for i in range(3):
  name=input("이름을 입력하시오 : ")
  kor=int(input("국어 성적을 입력하시오 : "))
  eng=int(input("영어 성적을 입력하시오 : "))
  mat=int(input("수학 성적을 입력하시오 : "))
  sum=kor+eng+mat
  avg=round(float(sum/3),2)
  st.append([name,kor,eng,mat,sum,avg])
  if st[i][5]>=90:
    grd='A'
  elif st[i][5]>=80:
    grd='B'
  elif st[i][5]>=70:
    grd='C'
  elif st[i][5]>=60:
    grd='D'
  else : grd='F'
  st[i].append(grd)
for i in range(3):
  print(st[i][0],"의 학점은 ",st[i][6],"입니다.")

이름을 입력하시오 : a
국어 성적을 입력하시오 : 90
영어 성적을 입력하시오 : 1
수학 성적을 입력하시오 : 2
이름을 입력하시오 : v
국어 성적을 입력하시오 : 45
영어 성적을 입력하시오 : 65
수학 성적을 입력하시오 : 77
이름을 입력하시오 : ac
국어 성적을 입력하시오 : 45
영어 성적을 입력하시오 : 67
수학 성적을 입력하시오 : 43
a 의 학점은  F 입니다.
v 의 학점은  D 입니다.
ac 의 학점은  F 입니다.