<a href="https://colab.research.google.com/github/SeongYunHong/mirae-python/blob/main/03_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
#문제
#3명의 (이름, 국어, 영어, 수학점수를 입력받아서 2차원 list에 입력하고 합계와 평균을 구하여 출력하시오)
st=[]
for i in range(3):
  name=input("이름을 입력하시오 : ")
  kor=int(input("국어 성적을 입력하시오 : "))
  eng=int(input("영어 성적을 입력하시오 : "))
  mat=int(input("수학 성적을 입력하시오 : "))
  sum=kor+eng+mat
  avg=round(float(sum/3),2)
  st.append([name,kor,eng,mat,sum,avg])
  if st[i][5]>=90:
    grd='A'
  elif st[i][5]>=80:
    grd='B'
  elif st[i][5]>=70:
    grd='C'
  elif st[i][5]>=60:
    grd='D'
  else : grd='F'
  st[i].append(grd)
for i in range(3):
  print(st[i][0],"의 학점은 ",st[i][6],"입니다.")

st.sort(key=lambda row : row[5],reverse=True)
rank=0
for i in range(len(st)):
  rank=rank+1
  st[i].append(rank)

for i in range(len(st)):
  for j in range(len(st[i])):
    print(st[i][j], end=" ")

이름을 입력하시오 : 홍성윤
국어 성적을 입력하시오 : 100
영어 성적을 입력하시오 : 100
수학 성적을 입력하시오 : 100
이름을 입력하시오 : 김김김
국어 성적을 입력하시오 : 20
영어 성적을 입력하시오 : 20
수학 성적을 입력하시오 : 56
이름을 입력하시오 : 이이이
국어 성적을 입력하시오 : 89
영어 성적을 입력하시오 : 34
수학 성적을 입력하시오 : 59
홍성윤 의 학점은  A 입니다.
김김김 의 학점은  F 입니다.
이이이 의 학점은  D 입니다.

홍성윤 100 100 100 300 100.0 A 1 3 1 이이이 89 34 59 182 60.67 D 2 2 2 김김김 20 20 56 96 32.0 F 3 1 3

In [ ]:
#과제 함계에 의한 등수를 결정하고 모든 데이터를 출력하시오

In [1]:
sum=0 #누적변수
for i in range(1,11):
  sum+=i
print(sum)

55

In [ ]:
i=0
sum=0
while i<10:
  i+=1 #증가변수
  sum+=i
print(sum)

In [7]:
#문제
#i=0으로 초기화하고 3,4,5,6,7,8,9만 while 문을 이용해서 더해보시오
sum=0
i=0
while i<10:
  i+=1
  if i<3 : continue
  if i>9 : break
  sum+=i
print(sum)

42

list comprehension

In [8]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
{i : i**3 for i in range(10)} #dict

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [11]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

In [13]:
rows=range(1,5)
cols=range(10,15)
vectors=[(r,c) for r in rows for c in cols]
vectors

[(1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14)]

In [32]:
#문제
#1~20사이의 수 중 3의배수 5의배수인 경우 숫자 다음에 "3의배수", "5의배수"와 같이 출력하시오
#문자열 반복을 사용하고 논리연산자를 이용해서 해결

#[i for i in range(1,21)  if i%3==0 or i%5==0]
["3의 배수"*(i%3==0)+"5의 배수"*(i%5==0) or i for i in range(1,21)]

[1,
 2,
 '3의 배수',
 4,
 '5의 배수',
 '3의 배수',
 7,
 8,
 '3의 배수',
 '5의 배수',
 11,
 '3의 배수',
 13,
 14,
 '3의 배수5의 배수',
 16,
 17,
 '3의 배수',
 19,
 '5의 배수']

함수(function) : 입력(parameter) 처리(block) 출력(return)

함수 매개변수의 종류
* Required : 순서와 개수를 일치시켜서
* Default : 초기값(뒤로 배치)
* Keyword : 파라미터의 순서를 변경
* Variable :  파라미터 수를 변화시키는 파라미터

In [34]:
#두 수를 입력받아서 더하는 함수를 작성하시오

def add(a,b):
  sum=a+b
  return sum

200

In [35]:
def mul(a,b):
  c=a*b
  return c
print(mul(10,20))

def mul(a,b):
  c=a*b
  print("두수의 곱은 ",c)
print(mul(10,20))

200
두수의 곱은  200
None

In [37]:
print(add(30,40))
print(add([10,20,30],[30,40,50]))
print(add("abc","def"))

70
[10, 20, 30, 30, 40, 50]
abcdef

In [42]:
#문제
#list를 매개변수로 받아서 모든 수를 제곱한 다음 리턴해서 출력하시오
lista=[1,2,3,4]
def double_list(li):
  emp_list=[] #지역변수
  for i in li:
    emp_list.append(i**2)
  return emp_list

print(double_list(lista))
re=double_list(lista) #heap에 데이터가 복사되어 존재
print(re)

[1, 4, 9, 16]
[1, 4, 9, 16]

Default Parameter : 뒤로 배치, 오버로딩과 같음

In [44]:
def student(name, age=21): #age : default parameter
  print('이름 : ',name)
  print('나이 : ',age)
student('김일')
student('김이',25) #25 : keyword parameter

이름 :  김일
나이 :  21
이름 :  김이
나이 :  25

In [57]:
#y=ax+b
def reg(x,a=10,b=20):
  return a*x+b
print(reg(10))
#함수를 재정의하면 앞에 있던 함수는 무시
def reg(x,a=20,b=30):
  return a*x+b
reg(10)

120

230

call by reference : 함수 내부에서 함수 외부의 값 변경

In [59]:
def changeme(mylist): #지역변수(stack에 생성)
 # mylist.append([1,2,3,4])
  mylist=[20,30,40,50]
  mylist.append([1,2,3,4])
  print("함수 내부에서 출력 : ",mylist)
  return
mylist=[10,20,30] #전역변수
changeme(mylist) #기존 mylist에 [1,2,3,4]추가 #주소만 전달
changeme(mylist) #한번 더 추가
print("함수 외부에서 출력 : ",mylist)

함수 내부에서 출력 :  [20, 30, 40, 50, [1, 2, 3, 4]]
함수 내부에서 출력 :  [20, 30, 40, 50, [1, 2, 3, 4]]
함수 외부에서 출력 :  [10, 20, 30]

변동 매개변수 : 여러개의 매개변수를 변동해서 담는 것

In [62]:
def func1(*args):
  for i in args:
    print(i,end=",")
  print()
print('시작')
func1(1,2,3)
func1(1,2,3,4)

시작
1,2,3,
1,2,3,4,

In [65]:
def variable(**names):
  for key,value in names.items():
    print(key,value)
variable(name='대한',Age=25,Salary=34000,Country='Korea')

name 대한
Age 25
Salary 34000
Country Korea

In [74]:
def var_parameter(*args,**kwargs):
  print('list 매개변수들',args)
  print('key 매개변수들',kwargs)
  return
var_parameter(1,2,z=5.,k=.3) #원칙 : 디폴트 파라미터는 뒤로 배치

list 매개변수들 (1, 2)
key 매개변수들 {'z': 5.0, 'k': 0.3}

In [80]:
def say__hello_then_call(f,*args,**kwargs): #받을때
  print('list 매개변수들',args)
  print('key 매개변수들',kwargs)
  print("함수를 호출 %s" % f)
  return f(*args,**kwargs) #사용할때

def g(x,y,z=1):
  print(x)
  print(y)
  print(z)
  return (x+y)/z
say__hello_then_call(g,1,2,z=5.)

list 매개변수들 (1, 2)
key 매개변수들 {'z': 5.0}
함수를 호출 <function g at 0x78bfbb408e50>
1
2
5.0

0.6

재귀 함수

In [82]:
def factorial(n):
  sum=1
  for i in range(n,1,-1):
    sum*=i
  return sum
factorial(5)

120

In [84]:
#재귀함수
def factorial(n):
  if n<=1: #종료조
    return 1
  return n*factorial(n-1) #자기자신 호출
factorial(5)

120

for in 문에서 뒤에 가능한 것
* list[]
*tuple()
*dict
*set
*range
*enumerate
*zip
*generator

generator : 공간 낭비 막음

while 문 안에서 yield문으로 만듦

In [3]:
import random
def gaus_dist(n):
  while n>0: #종료값 확인
    yield random.random() #yield를 가지고 있는 함수
    n-=1
gd=gaus_dist(5)
for i in gd: #한번에 하나씩 만들어서 하기 때문에 공간 낭비를 막음
  print(i)

0.7262984662462888
0.5065209555082755
0.914265428751209
0.6205812580735063
0.49062534437420113

In [88]:
def make_closer(a):
  b=10 #지역변
  def clouser(): #내부함수 정의 #내부함수는 외부함수의 변수 접근 가능
    print('나는 매개변수와 지역변수를 알고 있다. : %d %d'%(a,b))
  return clouser #내부 함수리턴

clouser=make_closer(5) #메모리에 외부함수가 잔존
clouser()
clouser()
del(clouser)

나는 매개변수와 지역변수를 알고 있다. : 5 10
나는 매개변수와 지역변수를 알고 있다. : 5 10

In [90]:
#clouser 함수는 주로 decoration design pattern으로 사용
def cookbook(name):
  def recipe(no):
    print("%s's 호출번호 .%d" %(name,no))
  return recipe

python_recipe=cookbook('python')
python_recipe(1)
python_recipe(2)

perl_recipe=cookbook('perl')
perl_recipe(1)
perl_recipe(2)

python's 호출번호 .1
python's 호출번호 .2
perl's 호출번호 .1
perl's 호출번호 .2

In [92]:
#재귀 호출 : binary search(전제조건 : 정렬되어있어야함)

name_list=["진정인","원하는대로","희망이","협동인","통일대박","딥러닝","다함께","대한인"]
name_list.sort()
print(name_list)
def binary_search_recursive(search_list,key,lower_bound,upper_bound): #lower_bound : 시작, upper_bound : 끝
  if lower_bound>upper_bound: #시작점이 끝점을 넘어서면 데이터가 없다는 뜻
    print("찾는 데이터가 없습니다.")
    return
  middle_pos=(lower_bound+upper_bound)//2 #둘로 나눠서 중앙값 출력 #중앙에서 비교
  if middle_pos < lower_bound or middle_pos >= upper_bound:
    print("찾는 데이터가 없습니다.")
    return
  if search_list[middle_pos]<key:
    binary_search_recursive(search_list,key,middle_pos+1,upper_bound)
  elif search_list[middle_pos]>key:
    binary_search_recursive(search_list,key,lower_bound,middle_pos)
  else:
    print("데이터가 있는 인덱스 : ",middle_pos)
lower_bound=0
upper_bound=len(name_list)
search_word=input("검색하고 싶은 단어를 입력하시오 : ")
binary_search_recursive(name_list,search_word,lower_bound,upper_bound)

['다함께', '대한인', '딥러닝', '원하는대로', '진정인', '통일대박', '협동인', '희망이']
검색하고 싶은 단어를 입력하시오 : 대한인
데이터가 있는 인덱스 :  1

In [97]:
#문제
#총 근무시간(hours)과 시간당 급여(wage)를 입력받아 주급을 계산하는 프로그램을 작성하시오
#40시간이 넘으면 두배로 지급합니다
#함수의 매개변수는 시간당 급여와 주작업시간으로 합니다.

basictime=40
multiple=2
def pay(wage,hours):
  if hours<=basictime:
    amount=wage*hours
  else :
    amount=(wage*basictime)+(wage*multiple*(hours-basictime))
  return amount

hours=int(input("총 근무 시간을 입력하시오 : "))
wage=int(input("시간당 급여를 입력하시오 : "))
earnings=pay(wage,hours)
print("주간 수입은 : {0:,.2f}원".format(earnings))

총 근무 시간을 입력하시오 : 45
시간당 급여를 입력하시오 : 10000
주간 수입은 : 500,000.00원

In [105]:
#문제
#은행이자 - 복리
#복리이자 계산법 : 원금 * ((1+이자율)**거치기간)
#원금과 기간이 주어졌을 때 기간 거치 후의 총액과 이자 수익을 출력하는 함수를 작성하시오
interest_rate=2.25/100
def balanceAndinterest(money,year):
  profit=money*((1+interest_rate)**year)
  interestEarned=profit-money
  return profit,interestEarned

def main():
  interest_money=int(input("원금을 입력하시오 : "))
  interest_year=int(input("거치기간을 입력하시오 : "))
  (pro,intEarned)=balanceAndinterest(interest_money,interest_year)
  print(f"총금액={pro}, 이자수익={intEarned}")
  print(f"평균 변화액 = {(pro-interest_money)/interest_year}")
main()

원금을 입력하시오 : 1000000
거치기간을 입력하시오 : 12
총금액=1306049.9898875677, 이자수익=306049.9898875677

In [1]:
#입력하는 함수, 처리하는 함수, 출력하는 함수
interest_rate=2.25/100

def getInput():
  origin=int(input("원금을 입력하시오 : "))
  year=int(input("거치기간을 입력하시오 : "))
  return origin,year

def calc(origin,interest_year):
  profit=origin*((1+interest_rate)**interest_year)
  interestEarned=profit-origin
  return profit,interestEarned

def read(pro,intEarned):
  print(f"총금액={pro}, 이자수익={intEarned}")
def main():
  #interest_m,interest_y=getInput()
  #pro,intEarned=calc(interest_m,interest_y)
  #read(pro,intEarned)
  read(*calc(*getInput()))
main()

원금을 입력하시오 : 100000
거치기간을 입력하시오 : 12
총금액=130604.99898875676, 이자수익=30604.998988756764

In [7]:
#사용자 정의 함수 / 내장함수
import math
print(math.pi)
print(math.radians(180))
print(math.degrees(math.pi/4))
print(math.sqrt(4))
a=-10
print(math.fabs(a))

#각도 -> 길이의 비(sin,cos,tan) 전제조건 : 반지름=1
#길이의 비-> 각도(asin,acos,atan)

a=math.pi/6
print(math.sin(a))
print(math.cos(a))
print(math.tan(a))

3.141592653589793
3.141592653589793
45.0
2.0
10.0
0.49999999999999994
0.8660254037844387
0.5773502691896257

In [12]:
#문제
#2차원 좌표점 2점 사이의 거리를 구하는 함수를 작성하시오
#a=(x1,y1)
#b=(x2,y2)
import math

def dist(x1,y1,x2,y2):
  dx=x2-x1
  dy=y2-y1
  distance = math.sqrt(dx**2+dy**2)
  return distance

a=(1,1)
b=(2,2)
dist(*a,*b)

1.4142135623730951

In [6]:
#문제
#두점의 사이각을 구하는 함수를 작성하시오
#내적 : 요소끼리 곱해서 다 더해주기
#cos(theta)=내적/(norm1*norm2)
#radian=acos(cos(theta))
#math.degree(radian)
import math
def theta_between_points(x1,y1,x2,y2,x3,y3):
  dot=x1*x2*x3+y1*y2*y3

  norm1=math.sqrt(x1**2+y1**2)
  norm2=math.sqrt(x2**2+y2**2)
  norm3=math.sqrt(x3**2+y3**2)

  costheta=dot/(norm1*norm2*norm3)
  radian=math.acos(costheta)
  theta=math.degrees(radian)
  return theta

a=0,1,0
b=1,1,1
theta_between_points(*a,*b)

45.00000000000001

In [38]:
#과제
#변동매개변수로 두 점의 포인트를 가변적으로 받아서 두 벡터의 사이각을 구하는 함수를 작성해보시오

def theta_between_points(*pointlist):
  count=len(pointlist)
  if count%2 !=0:
    print("두 포인트 좌표는 짝수가 되어야한다")
  vc=count//2
  val1=pointlist[:vc]
  val2=pointlist[vc:]
  print(val1)
  print(val2)
  dot=0
  for point in range(len(val1)):
    dot+=val1[point]*val2[point]
  norm1=0
  for point in range(len(val1)):
    norm1+=val1[point]**2
  norm1=math.sqrt(norm1)

  norm2=0
  for point in range(len(val2)):
    norm2+=val1[point]**2
  norm2=math.sqrt(norm2)

  costheta=dot/(norm1*norm2)
  radian=math.acos(costheta)
  theta=math.degrees(radian)
  return theta


theta_between_points(1,0,0,0,          0,1,0,0)

(1, 0, 0, 0)
(0, 1, 0, 0)

90.0

In [37]:
 #문제
 #가위바위보 게임을 입력, 게임 진행, 게임판정, 출력
# ?전?승?패는 전역변수로 함수 매개변수에 전달
#경우의 수 : 두개가 같을 때, 한개+1==,else #2차원배열 승
import random

def userInput():
  while True:
    user=int(input("가위바위보(가위 : 0, 바위 : 1, 보 : 2, 종료 : 3) : "))
    com=int(random.random()*3)
    return user,com

def game(user,com, win, lose, draw):
  if user-com==0:
    result="비김"
    draw+=1

  elif ((user-com)+3)%3==1:
    result="유저 승"
    win+=1

  elif ((user-com)+3)%3==2:
    result="컴퓨터 승"
    lose+=1
  print(result)
  return win,lose,draw

def display(win,lose,draw):
  total=win+lose+draw
  print(f"{total}전 {win}승 {lose}패")

def main():
  win = 0
  lose = 0
  draw = 0
  while True:
    user,com=userInput()
    if user==3: break
    win, lose, draw = game(user, com, win, lose, draw)
  display(win, lose, draw)
main()

가위바위보(가위 : 0, 바위 : 1, 보 : 2, 종료 : 3) : 1
컴퓨터 승
가위바위보(가위 : 0, 바위 : 1, 보 : 2, 종료 : 3) : 2
컴퓨터 승
가위바위보(가위 : 0, 바위 : 1, 보 : 2, 종료 : 3) : 3
2전 0승 2패

가위, 바위, 보 중 하나를 선택하세요: 보
사용자: 보, 컴퓨터: 바위
결과: 승리
전: 1, 승: 1, 무: 0, 패: 0
계속해서 게임을 하시겠습니까? (yes/no): yes
가위, 바위, 보 중 하나를 선택하세요: 보
사용자: 보, 컴퓨터: 가위
결과: 패배
전: 2, 승: 1, 무: 0, 패: 1
계속해서 게임을 하시겠습니까? (yes/no): a

1